<div class="">
  <ul class="grid grid-cols-3">
    <li class="experience-cards mb-2 col-start-1">
      <a href="#" class="cursor-none block max-w-lg p-6 bg-gray-900 hover:border hover:border-gray-600 rounded-lg shadow hover:bg-gray-700 text-">
        <div class="grid grid-cols-6">
          <div class="col-start-1 col-span-2">
            <p class="card-text py-2 px-1 text-s font-semibold text-slate-500" style="z-index: 10;"> Jan 2022 — Now </p>
            <p class="card-text py-2 px-1 text-s font-semibold text-slate-500"> Platform Engineer </p>
          </div>
          <div class="col-start-3 col-span-4">
            <h5 class="card-text py-2 px-1 font-semibold text-xl tracking-tight text-slate-200">Revature</h5>
            <p class="card-text py-2 px-1 font-normal text-sm text-slate-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
          </div>
        </div>
      </a>
    </li>
    <li class="experience-cards mb-2 col-start-2">
      <a href="#" class="cursor-none block max-w-lg p-6 bg-gray-900 hover:border hover:border-gray-600 rounded-lg shadow hover:bg-gray-700 text-">
        <div class="grid grid-cols-6">
          <div class="col-start-1 col-span-2">
            <p class="card-text py-2 px-1 text-s font-semibold text-slate-500" style="z-index: 10;"> Jul 2021 — Aug 2021 </p>
            <p class="card-text py-2 px-1 text-s font-semibold text-slate-500"> Intern </p>
          </div>
          <div class="col-start-3 col-span-4">
            <h5 class="card-text py-2 px-1 font-semibold text-xl tracking-tight text-slate-200">Revature</h5>
            <p class="card-text py-2 px-1 font-normal text-sm text-slate-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
          </div>
        </div>
      </a>
    </li>
    <li class="experience-cards col-start-3">
      <a href="#" class="cursor-none block max-w-lg p-6 bg-gray-900 hover:border hover:border-gray-600 rounded-lg shadow hover:bg-gray-700 text-">
        <div class="grid grid-cols-6">
          <div class="col-start-1 col-span-2">
            <p class="card-text py-2 px-1 text-s font-semibold text-slate-500" style="z-index: 10;"> 2017 — 2021 </p>
            <p class="card-text py-2 px-1 text-s font-semibold text-slate-500"> BS - Computer Science </p>
          </div>
          <div class="col-start-3 col-span-4">
            <h5 class="card-text py-2 px-1 font-semibold text-xl tracking-tight text-slate-200">New York University</h5>
            <p class="card-text py-2 px-1 font-normal text-sm text-slate-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>